section.designers ul {
  vertical-align: top;
  margin-right: 2%;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
  vertical-align: middle;
}

.reveal section.php-frameworks img,
.reveal section.open-source img {
  vertical-align: bottom;
}

.table {
  display: table;
  width: 100%;
}

.table-cell {
  display: table-cell;
}

.table-cell--2 {
  width: 50%;
}

.table-cell--3 {
  width: 33%;
}

.table-cell--4 {
  width: 25%;
}

.monospace {
  font-family: monospace !important;
}

.fa-star {
  color: yellow;
}
